<div class="jumbotron">
	<h1 class="display-3">Saved Articles</h1>
	<p class="lead">Your saved articles</p>
</div>

<div id="articles">
	{{#each articles}}
	<div class="panel panel-default">
	  <!-- Insert _id somewhere here -->
	  <div class="panel-heading clearfix"><h4><a href={{this.link}}>{{this.title}}</a></h4>
		    <form action="/articles/delete?_method=DELETE" , method="POST">
                <input type="hidden" name="_id" value="{{this._id}}"/>
                <input class="btn btn-danger pull-right" type="submit" value="Delete Article"/>
            </form>
			<button id="add-node" type="button" class="btn btn-success pull-right">Add Notes</button>
	  </div>
	  <div class="panel-body">{{this.subtitle}}</div>
	</div>
	{{/each}}
	<!-- Modal maker -->
</div>

