<div class="jumbotron text-center">
	<h1 class="display-3">Mongo Web Scraper</h1>
	<p class="lead">New York Times Edition</p>
	<p id="helpy" hiddens><em>Save articles to Mongo by clicking "Save"!</em></p>
</div>

<div id="articles">
	<div class="panel panel-warning">
	  <div class="panel-heading">
		<h4>Click the "Scrape New Articles" Button to begin.</h4>
	  </div>
	</div>
</div>



<!--
	{{#each articles}}
		<div class="panel panel-default">
		  <div class="panel-heading">{{this.title}}
			<button id="article-save" type="button" class="btn btn-success">Save Article</button>
		  </div>
		  <div class="panel-body">{{this.subtitle}}</div>
		</div>
	{{/each}}
-->
